* {
  margin: 0;
  padding: 0;
  /* background-color: darkgray; */
  box-sizing: border-box;
}

.portfolio-container {
  background-color: darkseagreen;
  margin: 15px 30px;
  padding: 20px;
  border-radius: 10px;
}

.header-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rosybrown; */
  /* border: darkred 1px solid; */
}

.header {
  display: flex;
  justify-content: center;
  width: 80%;
}

#header-text {
  /* color: springgreen; */
  font-family: serif;
  font-size: 50px;
}

.index-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 70px;
  /* border: solid 1px blue; */
}

.index-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.index-list-item {
  display: flex;
  margin-right: 30px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.hero-name {
  display: flex;
  justify-content: center;
  width: 100%;
}

.name {
  font-family: serif;
  font-size: 50px;
}

.text-img-skills-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-img {
  display: flex;
  margin: 0px;
  padding: 10px;
  border-radius: 15px;
}

.img {
  border-radius: 25px;
}

.hero-text {
  padding: 30px 0px;
  width: 25%;
}

.hero-skills {
  width: 25%;
  height: 80%;
}

.social-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
}

.social-title-container {
  display: flex;
}